<h1>Productos</h1>
<div class="contenedor">

    {{#each products}}
    <div>
        <div class="card">
            <h2>{{this.title}} </h2>
            <div>
                <p>Categoria: {{this.category}}</p>
                <p>Descripcion: {{this.description}} </p>
                <p>Precio: ${{this.price}} </p>
                <p>Codigo: {{this.code}} </p>
                <p>Stock: {{this.stock}} </p>
            </div>
        </div>
    </div>
        
    {{/each}}
</div>
