<div class="contenedorBuscar">
    <form action="/buscar" method="GET">
    <div class="buscar"> 
        <input type="text" name="q" placeholder="Buscar productos" value="{{query}}">
        <input type="submit" value="🔍" class="boton">
    </div>
        
    <div  class="contenedorFiltros">
        <div class="filtros">
                    <h3>Categorías:</h3>

            <label>
                <input type="checkbox" id="figuras" name="category" value="figuras"
                {{#if (includes category "figuras")}}checked{{/if}}>
                Figuras
            </label>
            <label>
                <input type="checkbox" id="resinados" name="category" value="resinados"
                {{#if (includes category "resinados")}}checked{{/if}}>
                Resinados
            </label>
            <label>
                <input type="checkbox" id="lamparas" name="category" value="lamparas"
                {{#if (includes category "lamparas")}}checked{{/if}}>
                Lamparas
            </label>
        </div>

        <div>
            <h3>Ordenar por:</h3>
            <select name="orden">
                <option value="">Seleccionar</option>
                <option value="precio_asc" {{#if (eq orden "precio_asc")}}selected{{/if}}>Precio (menor a mayor)</option>
                <option value="precio_desc" {{#if (eq orden "precio_desc")}}selected{{/if}}>Precio (mayor a menor)</option>
                <option value="nombre_asc" {{#if (eq orden "nombre_asc")}}selected{{/if}}>Nombre (A-Z)</option>
                <option value="nombre_desc" {{#if (eq orden "nombre_desc")}}selected{{/if}}>Nombre (Z-A)</option>
            </select>
        </div> 
        <div class="">
                <input type="submit" value="Aplicar filtros" class="boton">
                <button id="resetFiltros" class="boton">Restablecer Filtros</button>
        </div>
    </div>
    </form>
</div>
<h2>Productos</h2>


{{#if isFilter}}
<h3>Filtros</h3>
    <div class="btnDetalle">
        <a href="/product" class="boton">Todos los productos</a>
        <span class="">➡️</span>
        {{#if query}}<span class="botonS">{{query}}</span>{{/if}}
        {{#if category}}<span class="botonS">{{category}}</span>{{/if}}
    </div>
{{/if}}

<div class="divPaginas">
    <p>Total de productos: {{info.totalDocs}} </p>
    <label for="cantidadPorPagina">Cantidad por pagina:</label>
    <select id="cantidadPorPagina" onchange="cambiarCantidad()">
        <option value="2" {{#if (eq limit 2)}}selected{{/if}}>2 productos</option>
        <option value="1" {{#if (eq limit 1)}}selected{{/if}}>1 productos</option>
        <option value="15" {{#if (eq limit 15)}}selected{{/if}}>15 productos</option>
        <option value="20" {{#if (eq limit 20)}}selected{{/if}}>20 productos</option>
    </select>
</div>
<div class="contenedor">
    {{#each products}}
        <div class="card">
            <img src={{this.thumbnail}} alt={{this.description}} class="imgCard">
            
            <div class="textCard">
                <h3>{{this.title}} </h3>
                <p>Precio: ${{this.price}} </p>
                
            </div>
            <div class="botonesCard">
                <a href="/product/{{this._id}}" class="boton">Ver detalle</a>
                <form action="/api/carts/{{this._id}}" method="POST">
                    <button class="boton" type="submit">Agregar al Carrito</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>
<div class="paginacion">
    {{#if (gt info.page 1)}}
        <a href="?q={{query}}&categoria={{category}}&orden={{orden}}&page={{subtract info.page 1}}&limit={{info.limit}}">⏪ Anterior</a>
    {{/if}}

    <span>Página {{info.page}} de {{info.totalPages}}</span>

    {{#if (lt info.page info.totalPages)}}
        <a href="?q={{query}}&categoria={{category}}&orden={{orden}}&page={{sum info.page 1}}&limit={{info.limit}}">Siguiente ⏩</a>
    {{/if}}
</div> 

<script src="/js/filtrar.js"></script>
